@import './Colors.scss';


.calendar-table {
  width: 100%;
  td {
    border-bottom: 1px solid #eee;
    vertical-align: top;

  }
}

.calendar-item {
  background: #ddd;
  color: white;
  width: 100%;
  padding: 7px;
  margin-bottom: 5px;
}

.ci-test {
  background: $flat-pomegranate;
}

.ci-task {
  background: $flat-belize-hole;
}

.ci-event {
  background: $flat-green-sea;
}

.ci-desc {
  color: rgba(255,255,255,0.5);
}
